/* App.css */

.layout {
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  background: #001529;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu-horizontal {
  margin-left: auto;
}

.sider {
  background: #fff;
}

.menu-inline {
  height: 100%;
  border-right: 0;
}

.content {
  padding: 24px;
  margin: 0;
  min-height: 280px;
  background: #fff;
}

.footer {
  text-align: center;
  background: #f0f2f5;
}
